{% extends 'survey.html' %}
{% block survey %}
<p></p>
<script>
function addRow (top) {
  var table = document.getElementById("demoA");
  if (top) { var row = table.insertRow(0); }
  else { var row = table.insertRow(); }

  // (B3) INSERT CELLS
  var cell = row.insertCell();
  cell.innerHTML = `
  <div>name:{{form1.name}}
  EL:{{form1.EL}}RR:{{form1.RR}}
  <input type="button" value="Delete" onclick="deleteRow(this)"></div>

  `;
}
function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("demoA").deleteRow(i);
}
</script>
<form method="post" action="{% url 'add_record_view' %}" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
    {{form.as_table}}
    <tr>
        <td>
            <input type="button" value="Add EL Bottom" onclick="addRow()"/>
        </td>
        <td>
            <input type="button" value="Add EL Top" onclick="addRow(1)"/>
        </td>

    </tr>
    </table>
    <table id="demoA">

    </table>
    <input type="submit" name="Save">
</form>
{% endblock %}