<div class="card" >
    {# we must pass forloop.counter into id in order to generate different carousel ids #}
        <div id="carousel{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  {% for image in images %}
                  {% if forloop.first %}
                <div class="carousel-item active">
                  <img src="{{image}}" class="img-thumbnail  d-block w-100 h-100 myImg" alt="{{image}}" s>
                </div>
                  {% else %}
                  <div class="carousel-item">
                  <img src="{{image}}" class="img-thumbnail  d-block w-100 h-100 myImg" alt="{{image}}" >
                </div>
                  {% endif %}
                {% endfor %}
  </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{forloop.counter}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{forloop.counter}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>