        <li class="nav-item"> <a class="nav-link" href="{% url 'survey_home_view' %}">Survey-NB</a></li>
        <li> <a class="nav-link" href="{% url 'add_record_view' %}">Add record</a></li>
         <li> <a class="nav-link" href="{% url 'view_survey_record_view' %}">View My Records</a></li>
