{% extends 'survey.html' %}
{% block survey %}
<p></p>
{{message}}
<style>

    .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column .card {
  margin-top: 8px;
  vertical-align: middle;
  horizontal-align: middle;
  width: 100%;
  max-width:350px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<form method="post" action="{% url 'manage_survey_images_view' id %}" enctype="multipart/form-data">
      {% csrf_token %}
{{form.as_p}}

    <input type="submit" name="Save">
</form>
<p></p>
<form METHOD="post" action="{% url 'manage_survey_images_view' id %}" enctype='multipart/form-data'>
{% csrf_token %}
    <input type="hidden" name="note_id" value="{{note_id}}">

{% for image in images %}

<div class="row">
    <div class="column">
        <div class="card bg-dark text-white text-end" id="mycard">
          <img src="{{image.image.url}}" class="card-img" alt="...">
          <div class="card-img-overlay">
              <button type="submit" name="delete" value="{{image.pk}}" onclick="return confirm('Are you sure you want to delete it?');">delete</button>
          </div>
        </div>
    </div>
</div>
{% endfor %}

</form>
{% endblock %}