{% extends 'survey.html' %}
{% block survey %}
<p></p>
<script>
function addRow (top) {
  var table = document.getElementById("demoA");
  if (top) { var row = table.insertRow(0); }
  else { var row = table.insertRow(); }

  var cell = row.insertCell();
  cell.innerHTML = `
  <div>name:<input type="text" name="name" style="width:70px" maxlength="50" id="id_name">
  EL:<input type="number" name="EL" style="width:70px" step="any" id="id_EL">RR:<input type="number" name="RR" style="width:70px" step="any" id="id_RR">
   <input type="hidden" name="pk" value="new"/>
  <input type="button" value="Delete" onclick="deleteRow(this)"></div>

  `;
}
function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;

  if(confirm('Elevations get deleted for good when the operation is saved.\n You can refresh the page to restore any information not saved')) {
  document.getElementById("demoA").deleteRow(i);
  }
}
</script>
<form method="post" action="{% url 'update_survey_form_view' id %}" enctype='multipart/form-data' onsubmit="return confirm('are you sure?');">
    {% csrf_token %}
{{form.as_p}}
    <table>
        <tr>
        <td>
            <!-- "addRow(1) to add to the top of table -->
            <input type="button" value="Add EL" onclick="addRow(1)"/>
        </td>


    </tr>
    </table>
    <table id="demoA">
    <input type="submit" name="Save">
    {% for el_form in els_forms %}
        <tr>
            <td>
                name:{{el_form.0.name}}
                EL:{{el_form.0.EL}}RR:{{el_form.0.RR}}
                <input type="button" value="Delete" onclick="deleteRow(this)">
                <input type="hidden" name="pk" value="{{el_form.1}}"/>PK:{{el_form.1}}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}