{% extends 'survey.html' %}
{% block survey %}

<style>
table {
border-radius:10px;
  min-width:400px;


}
table, th, td {
  background-color: #0d6efd;
border: 0px solid;
}
.bench_group {
    background-color: #2c7f98;
}
.bench_group:hover {background-color: coral;}
.target_group:hover {background-color: coral;}
.target_group {
    background-color: #619fb2;
}
.notes {
    text-align:center;
}
.date{
    text-align:left;
}
.image_td {
    text-align:center;
    min-width:50x;
    max-width:60px;
}
.labels1 {
    text-align:left;
    width:100px;


}
.img-thumbnail {
margin:auto
    width: auto;
    max-width: 432px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
}
.solved {
background-color:#13ff2a;
animation: blinkingBackground 2s infinite;
}
.unsolved {
background-color:yellow;
}
@keyframes blinkingBackground{
		0%		{ background-color: #13ff2a;}
		25%		{ background-color: #13ff2a;}
		50%		{ background-color: #13ff2a;}
		75%		{ background-color: #13ff2a;}
		100%	        { background-color: #0d6efd;}
	}

</style>

<style>
    /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>
<center>
<script>
    function deleteRecord(r) {
  if(confirm('Elevations get deleted for good when the operation is saved.\n You can refresh the page to restore any information not saved')) {
    return true;
  }
}
</script>
<p></p>
{#['user','Identification','image','notes','date','BenchMark','Shot','HI','Target','EL','RR']#}
<form action="{% url 'handle_actions' %}">

{% for line in data %}
    {% with record=line.0 images=line.1 elevations=line.2 %}
    {{record.solved_fields}}

    <table>
        <tr><td colspan="4" class="image_td"> {% include 'image_widget_carousel.html' %}</td></tr>
    <tr><th class="labels1" >Identification:</th>
        <td class="labels1">{{record.Identification}}</td>
        <td rowspan="2" colspan="2" class="image_td">
        </td></tr>
        <tr><th class="labels1">Date:</th><td class="date" >{{record.date}}</td></tr>
    <tr><th colspan="4" class="notes">Notes:</th></tr>
    <tr>
        <td colspan="4" class="notes"><textarea disabled name="Text1" cols="35" rows="3">{{record.notes}}</textarea></td>
    </tr>
     <tr>
         <th class="bench_group">BenchMark:</th>
         <td class="bench_group {{record.get_class.BenchMark}}">{{record.BenchMark}}</td>
     </tr>
     <tr>
         <th class="bench_group ">Shot:</th>
         <td class="bench_group {{record.get_class.Shot}}">{{record.Shot}}</td>
     </tr>
     <tr>
         <th class="bench_group">HI:</th><td class="bench_group {{record.get_class.HI}}">{{record.HI}}</td>
     </tr>
        {% if elevations %}
    <tr>
        <th style="text-align: center;" colspan="3">ELEVATIONS</th>
    </tr>
         <tr>
        <th>NAME</th>
             <th>EL</th>
             <th>RR</th>
    </tr>
        {% endif %}
        {% for elevation in elevations %}
        <tr>
            <th>{{elevation.name}}</th>
            <td class="{{elevation.get_class.EL}}">{{elevation.EL}}</td>
            <td class="{{elevation.get_class.RR}}">{{elevation.RR}}</td>
        </tr>
        {% endfor %}
     <tr>
            <td class="text-align:center;" colspan="4">
                <button type="submit" name="delete" value="{{record.pk}}" onclick="return confirm('Are you sure you want to delete it? ?');">DELETE</button>
                <button type="submit" name="edit" value="{{record.pk}}">edit</button>
                <button type="submit" name="template" value="{{record.pk}}">Use as template</button>
                <button type="submit" name="images" value="{{record.pk}}">Manage Pictures</button>
            </td>

     </tr>
</table>
    <p></p>
    {%endwith %}
{% endfor %}
</form>
</center>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script>
var modal = document.getElementById("myModal");
var i;

var img = document.getElementsByClassName("myImg");
var modalImg = document.getElementById("img01");

 for(i=0;i< img.length;i++)
   {
    img[i].onclick = function(){

    modal.style.display = "block";
       modalImg.src = this.src;

 }
}

var span = document.getElementsByClassName("close")[0];


span.onclick = function() {
   modal.style.display = "none";
}
</script>
{% endblock %}