 {% extends 'base.html' %}
 {% block body %}
 {% load static %}
  {% include 'header.html' %}
 {% if request.user.is_superuser %}


 <p id="demo"></p>
<script>
var w = window.innerWidth;
var h = window.innerHeight;
var x = document.getElementById("demo");
x.innerHTML = "Browser width: " + w + ", height: " + h + ".";
</script>
 {% endif %}
 <br>
 <h2>survey notebook</h2></br>
  logged as {{request.user}}
 <video src="rtsp://admin:135799jJ@192.168.0.27:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1">

    Your browser does not support the VIDEO tag and/or RTP streams.
</video>
  {% endblock %}
