    {# this is a multilevel dropmenu using bootstarp 5.0 #}
   <li> <a class="dropdown-item" href="#"> Google Cloud &raquo; </a>
          <ul class="submenu dropdown-menu">
            <li><a class="dropdown-item" href="https://console.cloud.google.com/compute/instances?project=myserver-264018" target="_target">Compute Engine</a></li>
            <li><a class="dropdown-item" href="https://ssh.cloud.google.com/v2/ssh/projects/myserver-264018/zones/us-west3-a/instances/instance-1?authuser=0&hl=en_US&projectNumber=728936067975&useAdminProxy=true&troubleshoot4005Enabled=true&troubleshoot255Enabled=true&sshTroubleshootingToolEnabled=true" target="_blank">SSH</a></li>
          </ul>
        </li>

