

<style>
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.pre-msg{
margin:auto;

display:none;
}
.textarea-msg{
width:100%;
text-align: center;
display:none;
}

/* The Close Button */
.message_close {
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

</style>
<script>
    function myFunction(div_id) {
  var x = document.getElementById(div_id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% if message.1 == "info" %}
<div class="info-msg" id="info" >
  <i class="fa fa-info-circle"></i>
  {{message.0}}
  <span class="message_close" onclick="document.getElementById('info').style.display='none'">X</span>

</div>
{% elif message.1 == "success"%}
<div class="success-msg" id="success">
  <i class="fa fa-check"></i>
  {{message.0}}
   <span class="message_close" onclick="document.getElementById('success').style.display='none'">X</span>
</div>
{% elif message.1 == "warning"%}
<div class="warning-msg" id="warning">
  <i class="fa fa-warning"></i>
  {{message.0}}
   <span class="message_close" onclick="document.getElementById('warning').style.display='none'">X</span>
</div>
{% elif message.1 == "error"%}
<div class="error-msg" id="error">
  <i class="fa fa-times-circle"></i>
  {{message.0}}
   <span class="message_close" onclick="document.getElementById('error').style.display='none'">X</span>
</div>
{%endif%}
{% if request.user.is_superuser %}
    {% if dev.1 == "pre"%}
        <div class="pre-msg" id="pre">
          <i class="fa fa-times-circle"></i>
          <pre>{{dev.0}}</pre>
           <span class="message_close" onclick="document.getElementById('pre').style.display='none'">X</span>
        </div>
        <button onclick="myFunction('pre')">Developer</button>
    {% elif dev.1 == "textarea"%}
        <div class="textarea-msg" id="textarea">
            <textarea disabled name="Text1" cols="100" rows="10">{{dev.0}}</textarea>
        </div>
        <button onclick="myFunction('textarea')">Developer</button>
    {%endif%}
{%endif%}
