{% if request.user.is_authenticated %}
<li class="nav-item dropdown" id="myDropdown1">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  {{request.user}}  </a>
      <ul class="dropdown-menu">
        {% if request.user.is_superuser %}
        <li class="dropdown-item"><button class="btn btn-info btn-sm" onclick="window.open('/admin', '_blank');" formtarget="_blank">ADMIN</button></li>
        <li class="dropdown-item"><button class="btn btn-info btn-sm" onclick="window.open(http://jonatas.link/phpmyadmin"', '_blank');" formtarget="_blank">PHPMyAdmin</button></li>

         <!-- Google links start -->
        {% include 'google-navbar-submenu.html' %}
        <!-- google links ends -->
          {% endif %}
          <li class="dropdown-item"><button class="btn btn-danger btn-sm" onclick="window.open('{% url 'logout' %}', '_self');" formtarget="_blank">logout</button></li>



      </ul>
</li>
    {% else %}
     <li class="nav-item"><button class="btn btn-info btn-sm" onclick="javascript:location.href='/login'" formtarget="_blank">Login</button></li>
&nbsp;
<li class="nav-item"><button class="btn btn-info btn-sm" onclick="javascript:location.href='/register'" formtarget="_blank">Register</button></li>

{% endif %}