{% extends 'base.html' %}
{% block body %}
<style>
    .id {
    }
    .name{
    }
    .description {
     padding-left: 50px;

    }
    .breaker {
    margin-top: 100px;
    padding-top: 15px;
    }
</style>
<h3>Message</h3>
<pre>{{message}}</pre>
{% endblock %}
